/*
This file contains styles & vars to be used throughout the app
*/

* {
    --main-color: #cbcbcb; // General text color
    --head-color: #ececec; // Color of headings
    --accent-color: #42b983; // The green accent color
    --dark-grey: rgba(43, 43, 43, 1); // Grey used throughout the app
    --light-grey: rgba(118, 112, 112, 1);
    --light-text: rgba(166, 166, 166, 1);
    --dark-text: rgb(96, 96, 96);
    --opaque-dark-grey: rgba(43, 43, 43, 0.8); // Same as previous but slighly transparent
    --opaque-light-grey: rgba(153, 153, 153, 0.8);
    --app-border-rad: 20px; // Typical border radius
}