/*
This file contains styles & vars to be used throughout the app
*/

* {
    --main-color: #cbcbcb; // General text color
    --head-color: #ececec; // Color of headings
    --accent-color: #42b983; // The green accent color
    --app-border-rad: 20px; // Typical border radius
}